.landing-page {
  background-color: #fcde67;
  height: 800px;
  /* background-image: url("./images/white-background\ \(2\).png"); */
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.banner {
  margin-top: 8%;
}
